:root {
    --primary-clr: rgb(220, 220, 220);
    --secondary-clr: rgb(139, 139, 139);
    --hover-clr: rgb(196, 196, 196);
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--primary-clr);
    font-family: 'Montserrat', sans-serif;
    overscroll-behavior: none;
}

.container {
    display: grid;
}

.header {
    background: var(--secondary-clr);
    padding: 20px 50px;
    font-size: 4rem;
    font-weight: bolder;
    color: black;
    text-align: center;
}

.game {
    display: grid;
    grid-template-rows: 5 1;
}

.game .game-grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 0px;
}

.game .game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 470px;
    height: 470px;
    gap: 10px;
    background-color: black;
    
}

.game .game-grid .game-cell {
    background-color: var(--primary-clr);
    font-size: 130px;
    text-align: center;
    justify-self: center;
    user-select: none;
    width: 150px;
    height: 150px;
}

.game .game-grid .game-cell:hover {
    background-color: var(--hover-clr);
}

.game .game-dialog {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 10px;
    font-size: 2.5rem;
    background-color: var(--secondary-clr);
    border-radius: 50px;
    width: 470px;
}